body {
  background-color: #FFFFFF;
  color: #A37979;
  font-family: "Raleway", sans-serif;
}
@media only screen and (min-width: 768px) {
  body {
    font-size: 14pt;
    font-weight: 400;
  }
}
@media only screen and (min-width: 992px) {
  body {
    font-size: 14pt;
    font-weight: 400;
  }
}

@media only screen and (max-width: 600px) {
  .section {
    padding: 1% 10% 15% 10%;
  }
}
@media only screen and (min-width: 600px) {
  .section {
    padding: 1% 10% 15% 10%;
  }
}
@media only screen and (min-width: 768px) {
  .section {
    padding: 1% 10% 15% 10%;
  }
}
@media only screen and (min-width: 992px) {
  .section {
    padding: 1% 15% 15% 15%;
  }
}

@media only screen and (max-width: 600px) {
  .title {
    margin-top: 5%;
    padding: 5% 0 5% 0;
  }
}
@media only screen and (min-width: 600px) {
  .title {
    margin-top: 5%;
    padding: 5% 0 5% 0;
  }
}
@media only screen and (min-width: 768px) {
  .title {
    font-size: 28pt;
    margin-top: 5%;
    padding: 5% 0 3% 0;
  }
}
@media only screen and (min-width: 992px) {
  .title {
    font-size: 30pt;
    margin: 5% 0;
    padding: 5% 0 3% 0;
  }
}

@media only screen and (min-width: 768px) {
  .title--no-margin {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 992px) {
  .title--no-margin {
    margin-bottom: 0;
  }
}

.weight-heavy {
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  .header {
    padding-bottom: 10%;
  }
}
@media only screen and (min-width: 600px) {
  .header {
    padding: 4% 0;
  }
}
@media only screen and (min-width: 768px) {
  .header {
    padding-top: 5%;
  }
}
@media only screen and (min-width: 992px) {
  .header {
    padding-top: 2%;
  }
}

.logo {
  height: 150px;
  width: 150px;
}
@media only screen and (max-width: 600px) {
  .logo {
    margin: 10% 0 10% 0;
  }
}
@media only screen and (min-width: 600px) {
  .logo {
    margin: 10% 0 10% 0;
  }
}
@media only screen and (min-width: 768px) {
  .logo {
    margin: 4% 0 2% 0;
  }
}
@media only screen and (min-width: 992px) {
  .logo {
    margin: 4% 0 2% 0;
  }
}

.header__menu {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.header__menu a {
  padding: 0 4% 2% 4%;
  color: #00000085;
}
@media only screen and (max-width: 600px) {
  .header__menu a {
    font-size: 16pt;
  }
}
@media only screen and (min-width: 600px) {
  .header__menu a {
    font-size: 16pt;
  }
}
@media only screen and (min-width: 768px) {
  .header__menu a {
    font-size: 22pt;
  }
}
@media only screen and (min-width: 992px) {
  .header__menu a {
    font-size: 24pt;
  }
}
.header__menu a:hover {
  border-bottom: 3px solid #A37979;
  text-decoration: none;
  color: #00000085;
}

@media only screen and (max-width: 600px) {
  .about {
    padding: 5% 10% 20% 10%;
    font-size: 16pt;
  }
}
@media only screen and (min-width: 600px) {
  .about {
    padding: 5% 10% 20% 10%;
    font-size: 16pt;
  }
}
@media only screen and (min-width: 768px) {
  .about {
    font-size: 24pt;
  }
}
@media only screen and (min-width: 992px) {
  .about {
    padding: 5% 18% 20% 18%;
    font-size: 24pt;
  }
}

.about__greeting {
  margin-bottom: 5%;
}
@media only screen and (max-width: 600px) {
  .about__greeting {
    font-size: 18pt;
  }
}
@media only screen and (min-width: 600px) {
  .about__greeting {
    font-size: 18pt;
  }
}
@media only screen and (min-width: 768px) {
  .about__greeting {
    font-size: 30pt;
  }
}
@media only screen and (min-width: 992px) {
  .about__greeting {
    font-size: 30pt;
  }
}

.resume {
  background-color: #FBFBFB;
}

.resume__menu {
  margin: auto;
  text-align: center;
  margin-bottom: 3%;
  color: #00000085;
}
.resume__menu a {
  color: #00000085;
  text-decoration: none;
}
.resume__menu a:hover {
  border-bottom: 2px solid #A37979;
}
@media only screen and (max-width: 600px) {
  .resume__menu a {
    font-size: 12pt;
    padding: 0 2% 2% 2%;
  }
}
@media only screen and (min-width: 600px) {
  .resume__menu a {
    font-size: 12pt;
    padding: 0 2% 2% 2%;
  }
}
@media only screen and (min-width: 768px) {
  .resume__menu a {
    font-size: 18pt;
    padding: 0 2% 1% 2%;
  }
}
@media only screen and (min-width: 992px) {
  .resume__menu a {
    font-size: 16pt;
    padding: 0 2% 1% 2%;
  }
}

.resume__menu--active {
  color: #A37979;
  border-bottom: 2px solid #A37979;
}

.resume__section {
  display: none;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
  overflow-x: hidden;
}
@media only screen and (max-width: 600px) {
  .resume__section {
    font-size: 12pt;
    width: 97%;
  }
}
@media only screen and (min-width: 600px) {
  .resume__section {
    font-size: 12pt;
    width: 97%;
  }
}
@media only screen and (min-width: 768px) {
  .resume__section {
    font-size: 18pt;
    width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .resume__section {
    font-size: 16pt;
    width: 95%;
  }
}

.resume__section__entry {
  margin-bottom: 2%;
  padding: 2%;
}

.resume__section__entry__info {
  margin: 0.5% 0;
}
@media only screen and (max-width: 600px) {
  .resume__section__entry__info {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .resume__section__entry__exp {
    margin-top: 3%;
  }
}
@media only screen and (min-width: 600px) {
  .resume__section__entry__exp {
    margin-top: 3%;
  }
}
@media only screen and (min-width: 768px) {
  .resume__section__entry__exp {
    margin-top: 2%;
  }
}
@media only screen and (min-width: 992px) {
  .resume__section__entry__exp {
    margin-top: 2%;
  }
}
.resume__section__entry__exp p {
  margin-bottom: 1%;
}
@media only screen and (max-width: 600px) {
  .resume__section__entry__exp p {
    text-align: center;
  }
}

.list-skills {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 475px;
  overflow-x: auto;
}

.card {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
  max-width: 25rem;
  border: 0;
  box-shadow: 0 4px 6px 0 #00000020;
}
@media only screen and (max-width: 600px) {
  .card {
    font-size: 12pt;
  }
}
@media only screen and (min-width: 600px) {
  .card {
    font-size: 12pt;
  }
}
@media only screen and (min-width: 768px) {
  .card {
    font-size: 18pt;
  }
}
@media only screen and (min-width: 992px) {
  .card {
    font-size: 14pt;
  }
}

@media only screen and (max-width: 600px) {
  .card-body {
    height: 240px;
  }
}
@media only screen and (min-width: 600px) {
  .card-body {
    height: 235px;
  }
}
@media only screen and (min-width: 768px) {
  .card-body {
    height: 265px;
  }
}
@media only screen and (min-width: 992px) {
  .card-body {
    height: 265px;
  }
}

.card-title {
  font-weight: 600;
  color: #212121;
}

.card-bottom {
  display: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
}

.card-text {
  font-weight: 400;
  color: #4a4a4a;
  overflow-y: auto;
}
@media only screen and (max-width: 600px) {
  .card-text {
    height: 155px;
  }
}
@media only screen and (min-width: 600px) {
  .card-text {
    height: 150px;
  }
}
@media only screen and (min-width: 768px) {
  .card-text {
    height: 180px;
  }
}
@media only screen and (min-width: 992px) {
  .card-text {
    height: 180px;
  }
}

.card-tools li {
  display: inline;
  margin: 0 3px;
  padding: 3px 5px;
  border: 1px solid #A37979;
  border-radius: 5px;
}

.contact {
  background-color: #FBFBFB;
  margin-bottom: 0%;
  padding-bottom: 10%;
}
@media only screen and (max-width: 600px) {
  .contact {
    font-size: 10pt;
  }
}
@media only screen and (min-width: 600px) {
  .contact {
    font-size: 10pt;
  }
}
@media only screen and (min-width: 768px) {
  .contact {
    font-size: 18pt;
  }
}
@media only screen and (min-width: 992px) {
  .contact {
    font-size: 14pt;
  }
}

.contact__links a {
  color: #00000085;
}
.contact__links a:hover {
  color: #A37979;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .contact__credits {
    font-size: 9pt;
  }
}
@media only screen and (min-width: 600px) {
  .contact__credits {
    font-size: 9pt;
  }
}
@media only screen and (min-width: 768px) {
  .contact__credits {
    font-size: 14pt;
  }
}
.scroll-top {
  background-color: #FBFBFB;
  font-size: 22pt;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  padding-top: 8px;
  margin-right: 5%;
  margin-left: auto;
  display: none;
  position: fixed;
  bottom: 15px;
  left: 0px;
  right: 0px;
  box-shadow: 0 4px 6px 0 #00000020;
}

.grow {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
}
.grow:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.scroll-top.grow:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

/*# sourceMappingURL=main.css.map */
